.main{
    display: flex;
    padding: 10px 50px 0 50px;
}
.form1{
    height: 600px;
    width: 40%;
    padding: 10px;
}
.table1{
    height: 600px;  
    width: 60%;
    padding: 10px;
}
h2{
    text-align: center;
    // background-color: lightgray;
    padding: 10px;
}
